@use '../helpers' as *;
@use '../vendor/reasonable-colors' as *;
@use 'sass:list';

.post-title-wrap.title-wrap {
	.date {
		margin-top: 1rem;
	}
	.tags-list {
		margin-top: 2rem;
	}
}

.content.post {
	max-width: 800px;
	margin-right: auto;

	// figure {

	// }

	p.caption,
	figcaption {
		text-align: center;
		font-size: var(--step--1);
	}

	p img,
	picture,
	figure,
	img {
		max-width: Min(100%, 550px);
		height: auto;
		margin: 0 auto;
		display: block;
	}
	picture img {
		max-width: Min(100%, 550px);
		margin: 0;
	}

	h2 {
		margin-top: 3rem;
	}

	h3 {
		margin-top: 2rem;
	}

	ul > li {
		margin-bottom: 1rem;
	}
	ul > li ul li {
		margin-bottom: 0.5rem;
	}
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	td,
	th {
		padding: 0.3rem 0.5rem;
	}
	tr {
		&:nth-child(2n-1) {
			background-color: list.nth($turquoise_light, 7);
		}
		&:nth-child(2n) {
			background-color: list.nth($turquoise_light, 9);
		}
	}
	th {
		background-color: list.nth($turquoise_light, 3);
	}
}

table.smaller {
	font-size: 80%;
	td,
	th {
		padding: 0.3rem;
	}
}

table.horizontal {
	th[scope='row'] {
		text-align: right;
		padding-right: 0.5rem;
	}
}

table td.sr-only {
	position: absolute;
	height: 0px !important;
	width: 0px !important;
	overflow: hidden;
	clip: rect(-1px, -1px, 1px, 1px);
	padding: 0 !important;
	border: none !important;
}
