---
title: home
footerScripts:
- https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js
- '/scripts/home.js'

---

{% extends './views/layouts/base.njk' %}

{% block baseContent %}
	<main id='main'>
		<div id='sketch'></div>

		<div class='wrapper'>
			<div class='title-wrap'>
				<h1 class="home-h1">michelle enos</h1>
				<div class="description callout">full-stack developer</div>
				<div class='animation-btn'>
					<button id='animate-toggle'>
					pause <br/> animation</button>
				</div>
			</div>
		</div>

		<div class="content wrapper wrapper-sm">
			<h2>recent notes</h2>
			{% set currentCollection = collections.post | head(2) %}

			{% include 'partials/post-list.njk' %}

			<div class='align-right'>
				<a href='/notes' >more notes →</a>
			</div>

		</div>

	</main>

{% endblock %}