<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Michelle Enos</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{{ '/styles/style.css' | url }}"/>

    </head>

    <body class="page-{{title | slugify}}">
        <a class="sr-text" href="#main">skip to content</a>

        <div class='page-wrap'>
            <header class='header'>
                {% include 'partials/nav.njk' %}
            </header>

            {% block baseContent %}
                {{ content | safe }}
            {% endblock %}

            {% include 'partials/footer.njk' %}
        </div>

        {% for script in footerScripts %}
            <script src={{ script | url }}></script>
        {% endfor %}
        {# <script src="/scripts/nav.js"></script> #}

    </body>

</html>